.page-right{
	right: 0;
	.transform(translateX(100%));
	background: @page-right-color;
}

.splitlayout.right-open{
	.page-right{
		padding: 60px;
		.transform(translateX(0%));
		.box-sizing(border-box);
		h3 {
			font-size: 35px;
			line-height: 70px;
			font-weight: 200;
		}
		p {
			line-height: 20px;
		}
		p + p {
			margin-top: 30px;
		}
	}
}