.page-left{
	left: 0;
	.transform(translateX(-100%));
	background: @page-left-color;
	.page-inner{
		height: 100%;
		.slide{
			width: 100%;
			height: 100%;
		}
	}
}

.splitlayout.left-open{
	.page-left{
		.transform(translateX(0%));
	}
}