@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
/* imports */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* colors */
.page-left {
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #417378;
}
.splitlayout.left-open .page-left {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.page-right {
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background: #3e423a;
}
.splitlayout.right-open .page-right {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
/* style for landing page */
html,
body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  background: #333;
  overflow-y: auto;
}
.splitlayout {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
.splitlayout .side {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  z-index: 100;
  cursor: pointer;
}
.splitlayout .side.side-left {
  right: 50%;
  background: #a4cfbe;
  color: #fff;
  outline: 1px solid #a4cfbe;
  /* avoid gap */
  -webkit-transition: -webkit-transform 0.6s linear, right 0.6s linear;
  -moz-transition: -moz-transform 0.6s linear, right 0.6s linear;
  -o-transition: -o-transform 0.6s linear, right 0.6s linear;
  transition: -webkit-transform 0.6s linear,-moz-transform 0.6s linear,-o-transform 0.6s linear,transform 0.6s linear, right 0.6s linear;
}
.splitlayout .side.side-right {
  right: 0;
  left: 50%;
  background: #f4f7d9;
  color: #3e423a;
  outline: 1px solid #f4f7d9;
  /* avoid gap */
  -webkit-transition: -webkit-transform 0.6s linear, left 0.6s linear;
  -moz-transition: -moz-transform 0.6s linear, left 0.6s linear;
  -o-transition: -o-transform 0.6s linear, left 0.6s linear;
  transition: -webkit-transform 0.6s linear,-moz-transform 0.6s linear,-o-transform 0.6s linear,transform 0.6s linear, left 0.6s linear;
}
.splitlayout .side .intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.splitlayout .side .intro-content h1 > span {
  display: block;
  white-space: nowrap;
}
.splitlayout .side .intro-content h1 > span:first-child {
  font-size: 2em;
  font-weight: 300;
}
.splitlayout .side .intro-content h1 > span:nth-child(2) {
  position: relative;
  padding: 0.8em;
  margin-top: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}
.splitlayout .side .intro-content h1 > span:nth-child(2):before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background: white;
  background: #417378;
}
.splitlayout .side .intro-content .profile {
  margin: 20px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.splitlayout .side .intro-content .profile.vlad {
  background-image: url('../img/vlad.jpg');
}
.splitlayout .side .intro-content .profile.robert {
  background-image: url('../img/robert.jpg');
}
.splitlayout .side .intro-title {
  position: relative;
  top: 150px;
  font-size: 28px;
  text-align: center;
}
.splitlayout .side .back {
  display: none;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  color: white;
  font-size: 40px;
  text-decoration: none;
}
.splitlayout .page {
  position: absolute;
  top: 0;
  width: 80%;
  min-height: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.6s linear;
  -moz-transition: -moz-transform 0.6s linear;
  -o-transition: -o-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear,-moz-transform 0.6s linear,-o-transform 0.6s linear,transform 0.6s linear;
  z-index: 300;
}
.splitlayout.left-open .side.side-right {
  z-index: 99;
}
.splitlayout.left-open .side.side-left {
  left: auto;
  right: 0;
  z-index: 201;
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -o-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
}
.splitlayout.left-open .side.side-left .back {
  display: block;
}
.splitlayout.right-open .side.side-left {
  z-index: 99;
}
.splitlayout.right-open .side.side-right {
  right: auto;
  left: 0;
  z-index: 200;
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -o-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
  transform: translateX(-30%);
}
.splitlayout.right-open .side.side-right .back {
  display: block;
  color: #3e423a;
}
